In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
#Displayings settings
#tells pandas displaying dataframe, show all columns not just some of them
pd.set_option("display.max_columns", None)

In [7]:
#Loading the dataset
df = pd.read_excel("../data/Online Retail.xlsx")
df.head()
#each row represents one transaction

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [14]:
#understanding the data
df.shape
df.info()
#customerid has missing data points

<class 'pandas.core.frame.DataFrame'>
Index: 397884 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    397884 non-null  object
 1   StockCode    397884 non-null  object
 2   Description  397884 non-null  object
 3   Quantity     397884 non-null  int64
 4   InvoiceDate  397884 non-null  datetime64[ns]
 5   UnitPrice    397884 non-null  float64
 6   CustomerID   397884 non-null  float64
 7   Country      397884 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 27.3+ MB

## Dataset Description
- InvoiceNo: Unique invoice number
- StockCode: Product code
- Description: Product name
- Quantity: Number of items purchased
- InvoiceDate: Date and time of purchase
- UnitPrice: Price per item
- CustomerID: Unique customer identifier
- Country: Customer country

In [11]:
#Identifying data quality issues
df.isnull().sum()

#checking for negative or zero value
df.describe()

,Quantity,InvoiceDate,UnitPrice,CustomerID
count,541909.000000,541909,541909.000000,406829.000000
mean,9.552250,2011-07-04 13:34:57.156386048,4.611114,15287.690570
min,-80995.000000,2010-12-01 08:26:00,-11062.060000,12346.000000
25%,1.000000,2011-03-28 11:34:00,1.250000,13953.000000
50%,3.000000,2011-07-19 17:17:00,2.080000,15152.000000
75%,10.000000,2011-10-19 11:27:00,4.130000,16791.000000
max,80995.000000,2011-12-09 12:50:00,38970.000000,18287.000000
std,218.081158,NaN,96.759853,1713.600303

### Business interpretation
- Transactions without CustomerID cannot be used for customer-level analysis
- Quantity and Unit price has non-zero values. Problematic

In [15]:
#Data Cleaning

#removing missing cutsomer ID
df = df.dropna(subset=["CustomerID"])
#remove invalid quantities and prices
df = df[(df["Quantity"] > 0) & (df["UnitPrice"] > 0)]
#convert data types

#defensive programming(just for safety because the variable inoicedate seems to be already a datetime)
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])
df["customerID"] = df["CustomerID"].astype(int)

### Comment
- I ensured numeric identifiers are integers and timestamps are datetime objects for time-based analysis